sudo: false
language: node_js
notifications:
  email: false
node_js:
  - 6
  - 8
script:
 - npm run webdriver:update
 - npm test && PROTRACTOR_FLAKE_LOG_LEVEL=debug npm run test:integration
jobs:
  include:
    # Define the release stage that runs semantic-release
    - stage: release
      if: branch = master
      node_js: lts/*
      script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release
